@model KollamAutoEng_web.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<body class="crud-body">
    <div class="view d-flex align-items-center justify-content-center">
        <div class="create-form">
            <h1 class="text-center">Details of Employee</h1>
            <hr />
            <div class="details-view">
                <dl class="row">
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.Pay)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Pay)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.Hours)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Hours)
                    </dd>
                </dl>
            </div>
            <div class="form-group row text-center">
                <div class="col-sm-6">
                    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="detail-button btn-block">Edit</a>
                </div>
                <div class="col-sm-6">
                    <a asp-action="Index" class="back-button btn-block">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}