@model KollamAutoEng_web.Models.Vehicle

@{
    ViewData["Title"] = "Details of Vehicle";
}

<body class="crud-body">
    <div class="view d-flex align-items-center justify-content-center">
        <div class="create-form">
            <h1 class="text-center">Vehicle Details</h1>
            <hr />
            <div class="details-view">
                <dl class="row">
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.VehicleBrand)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.VehicleBrand.BrandName)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.VehicleModel)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.VehicleModel.ModelName)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.VIN)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.VIN)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.Registration)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Registration)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.Colour)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Colour)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.DriveType)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DriveType)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.Odometer)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Odometer)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.Customer)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Customer.FirstName)
                    </dd>
                </dl>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 text-center">
                    <a asp-action="Edit" asp-route-id="@Model?.VehicleId" class="detail-button btn-block">Edit</a>
                </div>
                <div class="col-sm-6 text-center">
                    <a asp-action="Index" class="back-button btn-block">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
