@model PaginatedList<KollamAutoEng_web.Models.VehicleModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Vehicle Model</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<form asp-controller="VehicleModels" asp-action="Index">
    <p>
        Search Models: <input type="text" name="SearchString" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a href="@Url.Action("Index", "VehicleModels")" class="btn btn-secondary">Clear</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ModelNameSortParm"]">Model Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BrandNameSortParm"]">Brand Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleBrand.BrandName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var active = i == Model.PageIndex ? "active" : "";
            <li class="page-item @active">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
        </li>
    </ul>
</nav>
