@model IEnumerable<KollamAutoEng_web.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Payments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<form asp-controller="Payments" asp-action="Index">
    <p>
        Search Payments: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.AppointmentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
