@model KollamAutoEng_web.Models.FaultPart

@{
    ViewData["Title"] = "Details of Fault Part";
}

<body class="crud-body">
    <div class="view d-flex align-items-center justify-content-center">
        <div class="create-form">
            <h1 class="text-center">Fault Part Details</h1>
            <hr />
            <div class="details-view">
                <dl class="row">
                    <dt class="col-sm-4 text-right">
                        Fault Name
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Fault.FaultName)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        Part Name
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Part.PartName)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        Appointment Name
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Appointment.AppointmentName)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.Customer)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Customer.FirstName)
                        @Html.DisplayFor(model => model.Customer.LastName)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.Vehicle)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Vehicle.Registration)
                    </dd>
                </dl>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 text-center">
                    <a asp-action="Edit" asp-route-id="@Model?.FaultPartId" class="detail-button btn-block">Edit</a>
                </div>
                <div class="col-sm-6 text-center">
                    <a asp-action="Index" class="back-button btn-block">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
